<%= javascript_include_tag :defaults %>

<table>
  <tr>
    <% form_tag :action => 'search' do %>
    <td><label><%= t 'cds.sn' %></label></td>
    <td><%= text_field_with_auto_complete :cd, :serialnumber, {:size => 20}, {:method => :get} %></td>
    <td><%= submit_tag   t 'search.label' %></td>
  </tr>
  <% end %>
</table>
