<h3>Editing computer</h3>

<% 2.times do %>
<br>
<%  end %>

<%= render :partial => 'form' %>

<%= link_to t('common_actions.show'), @computer %> |
<%= link_to t('common_actions.back'), computers_path %>
