<div id='left-content' >
  <%= link_to t('common-actions.download-all'), :controller => 'computers', :action => 'xls_computers' %>
</div>

<%= render :partial => 'list' %>

<%= will_paginate @computers %>

<br />

<%= link_to t('computers.new'), new_computer_path %>
