/* Basic */

*
{
    margin: 0em;
    padding: 0em;
}

h1,h2,h3,h4,h5,h6
{
    color: #444;
}

body,input
{
    font-family: tahoma, sans-serif;
    font-size: 10pt;
    color: #777;
}

input.button
{
    border-top: solid 1px #fff;
    border-left: solid 1px #fff;
    border-bottom: solid 1px #888;
    border-right: solid 1px #888;
    background-color: #eaeaea;
    color: #555;
    font-size: 0.8em;
    padding: 0.35em;
    background-color: #000000;
}

input.text
{
    border-top: solid 1px #888;
    border-left: solid 1px #888;
    border-bottom: solid 1px #fff;
    border-right: solid 1px #fff;
    color: #000000;
    padding: 0.1em;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}

a
{
    color: #006699;
    text-decoration: underline;
}

a:hover
{
    text-decoration: none;
}

/* Outer */

#outer
{
    margin: 1.5em auto 0em auto;
    width: 100%;
}

/* Header */

#header
{
    padding: 4.5em 4.5em 0em 4.5em;
}

#header h2
{
    font-size: 0.8em;
    font-weight: normal;
    color: #949494;
    display: inline;
    padding-left: 0.5em;
}

#header h1
{
    font-size: 1.9em;
    display: inline;
    letter-spacing: -0.05em;
}

#header h1 a
{
    color: #343434;
    text-decoration: none;
}

/* Menu */

#menu
{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #558800;
    border-bottom: solid 1px #336600;
    width: 100%;
}

/* Content */

#content
{
    padding-left: 2em;
    padding-right: 2em;
}

.box
{
    margin-bottom: 1.25em;
}

.boxContent
{
    margin-top: 0.5em;
    padding: 1.25em 1em 0.25em 1em;
    background: #ffffff url('../images/a1.gif') top left repeat-x;
}

/** boxA **/

.boxA .boxContent
{
    margin-top: 0em;
    color: #000;
    background: #fff;
    padding: 0em 0em 0em 2.5em;
}

.boxA span
{
    font-weight: bold;
    font-size: 0.8em;
}

.boxA a
{
    background-color: inherit;
    color: #000;
    font-size: 0.8em;
}

.boxA a:hover
{
    text-decoration: none;
    border-bottom: solid 1px #ff9900;
}

.boxA input.button
{
    margin-top: 0.25em;
    vertical-align: middle;
}

.boxA input.text
{
    width: 100%;
}

/** boxB **/

.boxB .boxContent
{
    margin-top: 1em;
    color: #fff;
    border-bottom: solid 1px #004466;
    background: #669933;
    padding: 0em 0em 0em 0em;
}

.boxB span
{
    font-weight: bold;
    font-size: 0.8em;
}

.boxB a
{
    background-color: inherit;
    color: #fff;
    font-size: 0.8em;
}

.boxB a:hover
{
    text-decoration: none;
    border-bottom: solid 1px #007799;
}

.boxB input.button
{
    margin-top: 0.25em;
    vertical-align: middle;
}

.boxB input.text
{
    width: 100%;
}

/** Content **/

#content p
{
    margin-bottom: 1em;
    text-align: justify;
    line-height: 1.5em;
}

#content strong
{
    color: #444;
}

#content h2,h3,h4,h5,h6
{
}

#content h2,h3
{
}

#content h3
{
    font-size: 1.0em;
}

#content h2
{
    font-size: 1.25em;
}

#content ul
{
    margin-bottom: 1em;
    padding-left: 1em;
    line-height: 1.8em;
}

#content blockquote
{
    padding: 1em;
    margin-bottom: 1.5em;
    border-left: solid 6px #558800;
}

#content blockquote p
{
    margin-bottom: 0em;
    line-height: 1.5em;
}

#content table
{
    margin-bottom: 0em;
}

#content table th
{
    text-align: left;
    font-weight: bold;
    padding: 0.5em;
    color: #444;
}

#content table td
{
    padding: 0.5em;
}

#content table tr.rowA
{
    background-color: #efefef;
    color: inherit;
}

#content table tr.rowB
{
    background-color: #fafafa;
    color: inherit;
}

/* Primary Content */

#primaryContentContainer
{
    float: right;
    margin-left: -25em;
    width: 100%;
}

#primaryContent
{
    margin: 0em 0em 0em 20em;
    padding: 2.5em 2.5em 1.5em 2.5em;
}

/* Secondary Content */

#secondaryContent
{
    margin: 0.01em -1em -1em -2em;
    float: left;
    width: 25em;
    padding: 1.5em 0em 0em 0em;
}

/* Footer */

#footer
{
    border-top: solid 1px #e5e5e5;
    text-align: center;
    padding: 1.5em 0em 1.5em 0em;
}

.clear
{
    clear: both;
}



div.auto_complete {
    color: black;
    width: 350px;
}
div.auto_complete ul {
    border:1px solid #000000;
    margin:0;
    padding:0;
    width:100%;

}
div.auto_complete ul li {
    margin:0;
    padding:3px;
}
div.auto_complete ul li.selected {
    background: #000000;
    color: black;
}
div.auto_complete ul strong.highlight {
    color: blue;
    margin:0;
    padding:0;
}












/* MENUS */

#marco {
    top: 0px;
    left: 0px;
    width: 100%;
    margin:30px 1px 1px 400px;
    padding:0px;
}

.preload2
.menu2 {padding:0; margin:0; margin-bottom:0; list-style:none; height:25px; background:red; position:relative; font-family:arial, verdana, sans-serif; }
.menu2 li.top {display:block; float:left; position:relative;}
.menu2 li a.top_link {display:block; float:left; height:25px; margin-left:6px; line-height:25px; color:#FFF; text-decoration:none; font-size:11px; font-weight:bold; padding:0 0 0 6px; cursor:pointer;}
.menu2 li a.top_link span {float:left; display:block; padding:0 10px 0 6px; height:40px;}
.menu2 li a.top_link span.down {float:left; display:block; padding:0 10px 0 6px; height:25px;/*background:url(prodrop2/down.gif) no-repeat right top;*/}
.menu2 li a.top_link:hover {color: white;}
.menu2 li a.top_link:hover
.menu2 li a.top_link:hover

.menu2 li:hover > a.top_link {color:#555}
.menu2 li:hover > a.top_link
.menu2 li:hover > a.top_link


.menu2 table {border-collapse:collapse; width:0; height:0; position:absolute; top:0; left:0;}

/* Default link styling */

/* Style the list OR link hover. Depends on which browser is used */

.menu2 a:hover {visibility:visible;}
.menu2 li:hover {position:relative; z-index:200;}

/* keep the 'next' level invisible by placing it off screen. */
.menu2 ul,
.menu2 :hover ul ul,
.menu2 :hover ul :hover ul ul,
.menu2 :hover ul :hover ul :hover ul ul,
.menu2 :hover ul :hover ul :hover ul :hover ul ul {position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

.menu2 :hover ul.sub {left:6px; top:25px; background: #fff; padding:0; /*border:1px solid #1E8BB5; white-space:nowrap;*/ width:auto; height:auto; font-weight:normal;}
.menu2 :hover ul.sub li {display:block; /*height:20px; */position:relative; float:left; width:160px; border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; margin-bottom:0;}
.menu2 :hover ul.sub li a {display:block; height:auto; font-size:11px; padding:4px 3px; line-height:1; color:#000000; text-decoration:none;}
.menu2 :hover ul.sub li a.fly {background:#fff;}
.menu2 :hover ul.sub li a:hover {background:#000000; color:#FFFFFF;}
.menu2 :hover ul.sub li a.fly:hover {background:#000000; color:#FFFFFF;}
.menu2 :hover ul li:hover > a.fly {background:white}

.menu2 :hover ul :hover ul,
.menu2 :hover ul :hover ul :hover ul,
.menu2 :hover ul :hover ul :hover ul :hover ul,
.menu2 :hover ul :hover ul :hover ul :hover ul :hover ul
{left:160px; top:-1px; background: #fff; padding:0; /* white-space:nowrap; */width:auto; z-index:300; height:auto;}
.menu2 :hover ul.sub li ul {border-top:1px solid #000000; background: #fff; z-index:300;}