<% cache(:fragment => "shared/_footer") do %>

<div id="footer">
  <a href="/users/help#shortcuts">Hot-Keys</a>
  <p>
    Developer: <a href="http://www.cesardiaz.com.ar">Cesar Diaz</a>
  </p>
</div>
<% end %>

