<div id="marco">

  <!--MENU-->
  <ul class="menu2">


    <li class="top">
      <a href="#" id="telmex" class="top_link">
        <span class="down">Places</span>
        <!--[if gte IE 7]><!--></a><!--<![endif]-->
      <!--[if lte IE 6]><table><tr><td><![endif]-->
      <ul class="sub">
        <li><a href="/places">List</a></li>
        <li><a href="/places/new">New</a></li>
      </ul>
      <!--[if lte IE 6]></td></tr></table></a><![endif]-->
    </li>



    <li class="top"><a href="#" id="telmex" class="top_link"><span class="down">Hardware</span>
        <!--[if gte IE 7]><!--></a><!--<![endif]-->
      <!--[if lte IE 6]><table><tr><td><![endif]-->
      <ul class="sub">
        <li><a href="/computers"  class="fly">Computers</a>
          <ul>
            <li><a href="/computers/available">Available</a></li>
            <li><a href="/computers/unavailable">Unavailable</a></li>
            <li><a href="/computers/new">New</a></li>
          </ul>
        </li>
        <li><a href="/mother_boards" class="fly">Motherboards</a>
          <ul>
            <li><a href="/mother_boards">List</a></li>
            <li><a href="/mother_boards/new">New</a></li>
          </ul>
        </li>
        <li><a href="/harddisks" class="fly">Hardisks</a>
          <ul>
            <li><a href="/harddisks">List</a></li>
            <li><a href="/harddisks/new">New</a></li>
          </ul>
        </li>
        <li><a href="/memories" class="fly">Memories</a>
          <ul>
            <li><a href="/memories">List</a></li>
            <li><a href="/memories/new">New</a></li>
          </ul>
        </li>
        <li><a href="/cds" class="fly">Cds</a>
          <ul>
            <li><a href="/cds">List</a></li>
            <li><a href="/cds/new">New</a></li>
          </ul>
        </li>
        <li><a href="/dvds" class="fly">Dvs</a>
          <ul>
            <li><a href="/dvds">List</a></li>
            <li><a href="/dvds/new">New</a></li>
          </ul>
        </li>
        <li><a href="/screens" class="fly">Screens</a>
          <ul>
            <li><a href="/screens">List</a></li>
            <li><a href="/screens/new">New</a></li>
          </ul>
        </li>
        <li><a href="/printers" class="fly">Printers</a>
          <ul>
            <li><a href="/printers">List</a></li>
            <li><a href="/printers/new">New</a></li>
          </ul>
        </li>
      </ul>
      <!--[if lte IE 6]></td></tr></table></a><![endif]-->
    </li>

    <li class="top">
      <a href="#" id="telmex" class="top_link">
        <span class="down">Marks</span>
        <!--[if gte IE 7]><!--></a><!--<![endif]-->
      <!--[if lte IE 6]><table><tr><td><![endif]-->
      <ul class="sub">
        <li><a href="/marks">Lists</a></li>
        <li><a href="/marks/new">New</a></li>
      </ul>
      <!--[if lte IE 6]></td></tr></table></a><![endif]-->
    </li>
  </ul>
</ul>
<!-- FIN MENU-->
</div>
