<ul>
  <li><a href="computers">Computers</a></li>
  <li><a href="printers">Printers</a></li>
  <li><a href="laptops">Laptops</a></li>
  <li><a href="screens">Screens</a></li>
  <li><a href="marks">Marks</a></li>
</ul>
