<% form_for(@bill) do |f| %>
  <%= f.error_messages %>

  <div id="quarter" >
  <%= collection_select 'company', 'company_id', Company.find(:all), 'id', 'name',
      {:prompt => true} %>
  </div>
  <p>
     Codigo <br />
    <%= f.text_field :code %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
