<%= javascript_include_tag :defaults %>

<% content_tag :table do %>
  <% form_tag :action => 'search' do %>
    <% content_tag :tr do %>
      <% content_tag :td do %>
        <label><%= t 'bill.code' %></label>
      <% end %>
      <% content_tag :td do %>
        <%= text_field_with_auto_complete :bill, :code,
          {:size => 20, :focus => true}, {:method => :get} %>
      <% end %>
      <% content_tag :td do %>
        <%= submit_tag   t 'search.label' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
