<% form_for(@workstation) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'selector_pc_list' %>

  <p>
    <% if action_name == 'new' %>
    <%= f.submit t('workstations.create') %>
    <% else %>
    <%= f.submit t('workstations.edit') %>
    <% end %>
  </p>
<% end %>
