<div id='right-content' >
  <%= link_to t('common-actions.download'), :controller => 'workstations',
  :action => 'xls_workstations' %>
</div>

<%= render :partial => 'list' %>

<br />

<%= link_to t('workstations.new'), new_workstation_path %>
