<div id='right-content' >
  <%= link_to t('common_actions.download'), :controller => 'workstations',
  :action => 'xls_workstations' %>
</div>

<%= notice  %>

<% 2.times do %>
<br>
<%  end %>

<%= render :partial => 'list' %>

<%= link_to t('workstations.new'), new_workstation_path %>
