<%= advice( true, t('help-phrases.stats-in-place'))%>
<div id="quarter" >
  <div id='left-content' >
    <%= render :partial => 'places_selector' %>
  </div>

  <%= observe_field("places", :update => "outer",
  :url => { :controller => 'workstations', :action => :stats },
  :with => "'place_id='+value") %>
</div>

<% if not params[:place_id].nil? %>
<%= render :partial => 'stats' %>
<% end %>
