<%= render :partial => 'places_selector' %>

<%= observe_field("places", :update => "outer",
:url => { :controller => 'workstations', :action => :stats },
:with => "'place_id='+value") %>

<%= @place_name rescue nil %>

<div id='stats_lateral_panel'>

  <%= render :partial => 'stats' %>


</div>


