<%= advice( true, t('common_actions.hide_advice'),
 t('help_phrases.stats_in_place'),'advice-a-hundred-percent', 'workstations')%>

<div id="quarter" >
  <%= render :partial => 'places_selector' %>

  <%= observe_field("places", :update => "outer",
  :url => { :controller => 'workstations', :action => :stats },
  :with => "'place_id='+value") %>
</div>

<% if not params[:place_id].nil? %>
<%= render :partial => 'stats' %>
<% end %>
