<div id='left-content' >
  <%= link_to t('common-actions.download-all'), :controller => 'printers', :action => 'xls_printers' %>
</div>

<%= render :partial => 'list' %>

<br />

<%= link_to 'New printer', new_printer_path %>
