<% cache(:fragment => "places/_selector_places_list") do %>
<label><%= t('places.select_type_of_places') %></label>
<% @options = [
   [t('places.select_one'),'select one'],
   [t('places.all'),'all'],
   [t('places.departments'),'departments'],
   [t('places.offices'),'offices'],
   [t('places.rooms'),'rooms'],
   [t('places.stores'),'stores']]
   %>

<%= select_tag 'sort[]',
    options_for_select( @options),
    :include_prompt => false,
:onchange => remote_function(:url => {:controller => 'places', :action => 'list'},
:with => "'places='+this.value",
:update => "outer")
%>

<% end %>
