<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <%= render :partial => 'shared/head' %>
  <body>
    <div id="outer">

      <%= render :partial => 'shared/menu' %>

      <div id="content">

        <%= render :partial => 'shared/primary_content' %>

      <div class="clear"></div>

      <%= render :partial => 'shared/footer' %>

    </div>
  </body>
</html>
