<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <%= render :partial => 'shared/head' %>
  <body>
    <div id="outer">

      <%= render :partial => 'shared/menu' %>

      <div id="content">

        <%= render :partial => 'shared/primary_content' %>

        <div id="secondaryContent">
          <div class="box boxB">
            <div class="boxContent">
              Marks: here are the list of marks
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>

      <%= render :partial => 'shared/footer' %>

    </div>
  </body>
</html>

